
    <!DOCTYPE html>
    
    <html lang="en">
    
    <head>
        
        
       <title>MyOpinion</title>
      <script src="https://kit.fontawesome.com/f82aeb8644.js" crossorigin="anonymous"></script>

     <style>

      body{
         
          background-image:url(https://miro.medium.com/max/4000/0*eO07yV9XbK95zYKj.jpg);
          background-size: 90%; 
          color:black;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: x-large;
          text-align: center;
          border:3px solid blue;
          margin:20px;
          border-radius: 5%;
          
      }
      form{
        text-align: left;
        margin:50px;
      }
    input[type=text] {
      font-size: x-large;
    width: 90%;
    padding: 10px 10px;
    margin: 20px;
    color:mediumblue;
     background-color:rgb(163, 223, 228);
      }
     th,td {
  border: 1px solid blue;
  text-align: left;
  padding:20px;
}

a{
  color:mediumblue;
 }
      button {
          float: right;
          margin-right: auto;
          background-color:rgb(32, 235, 32);
          color:black;
          border:1px solid black;
          border-radius: 5%;
          margin: 10px;
          padding:10px;
          font-size: x-large;
        }
  
     
</style>
           
    </head>
    
    <body >
        <div>
            <div > {{{body}}}
            </div>
        </div>
    
    </body>
    
    </html>
    