
<h3><i class="fas fa-book"></i> {{viewTitle}}</h3>
<p>Feel free to give your opinions on the courses and syllabus prescribed for the students !!!</p>
 <button><a href="/student">STUDENTS</a></button>
<button><a  href="/teacher">TEACHERS</a></button>